@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
@import './animation.css';


@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
/* 
*{
  outline: 1px solid red;
} */

